@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(41, 40, 40);
}
header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.content{
    padding-top: 10px;
    padding-left: 70px;
}
section{
    display: flex;
}
.content-3{
    margin-top: 50px;
    margin-left: 300px;
}
.content-3 img{
    width: 350px;
    height: 290px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
}
.img{
    margin-left: 160px;
}
.img-2{
    margin-top: -120px;
}
h5{
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.495);

}
a{
    text-decoration: none;
}
h5:hover{
    color:white;
}
.content-2{
    display: flex;
    padding-right: 100px;
    padding-top: 20px;
}
.content-2 h4{
    margin-left: 10px;
    border: 0.5px solid;
    height: 20px;
    border-radius: 20px;
    padding: 10px;
    color: white;
    transition: 0.5s ease-in;
}
.content-2 h4 i{
    padding-right: 5px;
}
.content-2 a :hover{
   background-color: black;
   color: white;
}
.acceuil{
   width: 100%;
   height: 100vh;
}
#home{
    padding-left: 100px;
    padding-top: 230px;
}
#home h1{
    font-size: 50px;
    width: 450px;
    color: white;
}
.botton-mod{
    border-radius: 1px solid;
    width: 100px;
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 20px;
    background-color:  rgba(0, 123, 255, 0.886);
    transition: 1s ease-in;
}
.cercl{
    background-color: white;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 63px;
    transition: 1s ease-in;

}
.botton-mod:hover{
    background-color: rgb(255, 255, 255);
    .cercl{
        margin-left: 5px;
        background-color: black;
    }

}
.home-p{
    border-radius: 1pc solid;
    width: 450px;
    display: flex;
    flex-direction: row;
    font-size: small;
    margin-left: 30px;
    margin-top: 35px;
}
.home-p p{
    padding-left: 70px;
    color: rgba(255, 255, 255, 0.495);
}
#page-2{
    width: 100%;
    height: 30vh;
}
.content-page{
    display: flex;
    color: white;
}
.content-page h3{
    padding-left: 100px;
    width: 250px;
}
.content-page p{
    width: 600px;
    padding-left: 250px;
    font-size: xx-large;
    font-weight: 900;
}
.content-page h4{
    padding-left: 280px;
    padding-top: 50px;
    font-weight: 900;
}
#page-2 img{
    width: 100px;
    height: 100px;
}
.page-img-position{
    margin-bottom: 40px;
}
#page-img{
    width: 600px;
    height: 450px;
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 20px;

}
#page-img-2{
    width: 350px;
    height: 450px;
    margin-left: 20px;
    border-radius: 20px;
}
#page-3{
    height: 100vh;
    width: 100%;
    background-image: url(./assets/forest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.page-3-content{
    margin-left: 900px;
    margin-top: 200px;
    color: rgb(0, 0, 0);
 
}
.page-3-content h1{
    font-size: 55px;
    width: 430px;
    opacity: 0.8;
}
#page-4{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page-4 h1{
    font-size: 50px;
    width: 600px;
    color: white;
}
#page-5{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.card-position{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    background-color: white;
    border-radius: 20px;
    width: 20vw;
    height: 300px;
    transition: 1s ease-in;
}

.img-1{
    width: 15vw;
    height: 30vh;
    padding-left: 30px;
    padding-top: 20px;
}
#img-2{
    width: 15vw;
    height: 25vh;
    padding-left: 30px;
    padding-top: 20px;
}
.card h1{
    text-align: center;
    padding-top: 0px;
    font-size: 30px;
    font-weight: 900;
}
.card:hover{
    transform: scale(1.1);
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 30px white;
    background-color: rgb(63, 63, 63);
}
#page-6{
    height: 100vh;
    width: 100%;
    display: flex;
}
.content-page-6{
    margin-left:100px;
    margin-top: 200px;
    color: white;

}
.content-page-6 h1{
    font-size: 60px;
    width: 430px;
}
.content-page-6 p{
    font-weight: 900;
    padding-top: 20px;
    width: 400px;
    line-height: 25px;
}
.content-page-6 h3{
    margin-top: 50px;
    
}
#page-6 img{
    width: 450px;
    height: 450px;
    margin-top: 170px;
    margin-left: 250px;
    border-radius: 30px;
    filter: grayscale(100%);
    transition: 0.5s ease-in;
   
}
#page-6 img:hover{
      filter: grayscale(0);
}
footer{
    width: 100%;
    height: 35vh;
    background-color: rgba(0, 0, 0, 0.777);
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-position{
    width: 900px;
    height: 30vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 20px;
}
.info-position h1{
    color: white;
    text-decoration: underline rgb(152, 152, 152);
    font-size: 20px;
    padding-top: 10px;
}
.info h3{
    color: rgb(123, 123, 123);
    padding-top: 20px;
}
.info h3:hover{
    color: white;
}
@media  (max-width: 600px){
   header{
        flex-wrap: wrap;
    }
    .acceuil{
        flex-wrap: wrap;
        height: 100vh;
        margin-left: 0;
    }
    #home{
        padding-left: 50px;
        padding-top: 100px;
    }
    #home h1{
        width: 250px;
    }
    .home-p {
        margin-left: -50px;
    }
    .content-3{
        margin-top: 20px;
        margin-left: 30px;
    }
    .img{
        margin-left: 0;
    }
    .img-2{
        margin-top: 20px;
    }
    #page-2{
        width: 100%;
        height: 100vh;
    }
    .content-page{
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .content-page h3{
        font-size: 8vw;
        padding-left: 0;
        width: 80vw;
        margin-top: 50vh;
    }
    .content-page p{
        width: 80vw;
        padding-left: 0;
        font-size: x-large;
        font-weight: 900;
       
    }
    .content-page h4{
        padding-left: 0;
        padding-top: 50px;
        font-weight: 900;
 
    }
    .page-img-position{
        margin-left: 0;
    }
    #page-img{
        width: 100%;
        height: 50vh;
        margin-left: 0vw;
        margin-top: 5vh;
        border-radius: 0;
    }
    #page-img-2{
        width: 100%;
        height: 70vh;
        margin-left: 0;
        border-radius: 0;
    }
    #page-3{
        height: 100vh;
        width: 100%;
    }
    .page-3-content{
        margin-left: 0;
        margin-top: 0;
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: black;
    }
    .page-3-content h1{
        font-size: 50px;
        width: 400px;
        text-align: center;
    }
    .page-3-content p{
        opacity: 0;
    }
    .content-page-6{
        margin-left:100px;
        margin-top: 200px;
        color: white;
    
    }
    #page-4{
        height: 30vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #page-4 h1{
        font-size: 40px;
        width: 100%;
        color: white;
    }
    #page-5{
        height: 100%;
        width: 100%;
    }
    .card-position{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .card{
        background-color: white;
        border-radius: 20px;
        width: 300px;
        height: 300px;
        transition: 1s ease-in;
    }
    .card img{
        width: 100%;
        height: 30vh;
        padding-left: 0;
        padding-top: 20px;
    }
    #img-2{
        width: 100%;
        height: 30vh;
        padding-left: 0;
        padding-top: 20px;
    }
    .card h1{
        text-align: center;
        padding-top: 10px;
    
    }
    .card:hover{
        transform: scale(1.1);
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 30px white;
    }
    #page-6{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .content-page-6{
        margin-left:50px;
        margin-top: -120vh;
        color: white;
    
    }
    .content-page-6 h1{
        font-size: 60px;
        width: 320px;
        margin-top: 130vh;
    }
    .content-page-6 p{
        font-weight: 900;
        padding-top: 20px;
        width: 350px;
        line-height: 25px;
    }
    .content-page-6 h3{
        margin-top: 50px;
        
    }
    
    #page-6 img{
        width: 350px;
        height: 400px;
        margin-top: 50px;
        margin-left: 45px;
        border-radius: 30px;
        filter: grayscale(100%);
        transition: 0.5s ease-in;
       
    }
    footer{
        margin-top: 20px;
        width: 100%;
        height: 100%;
    }
    .info-position{
        display: flex;
        justify-content: center;
        justify-content: space-around;
    }
}
